.link {
    padding: 6px 8px;
    width: 100%;
    color: #fff;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.logo {
    color: #BDBDBD;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
}